<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listaConvocatorias</servlet-name>
        <servlet-class>servlet.listaConvocatorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regInscripcion</servlet-name>
        <servlet-class>servlet.regInscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descArchivo</servlet-name>
        <servlet-class>servlet.descArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaInscripciones</servlet-name>
        <servlet-class>servlet.listaInscripciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarConvocatoria</servlet-name>
        <servlet-class>servlet.insertarConvocatoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>convocatoriasCSV</servlet-name>
        <servlet-class>servlet.convocatoriasCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>convocatoriasPDF</servlet-name>
        <servlet-class>servlet.convocatoriasPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regUsuario</servlet-name>
        <servlet-class>servlet.regUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>servlet.iniciarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listaConvocatorias</servlet-name>
        <url-pattern>/listaConvocatorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regInscripcion</servlet-name>
        <url-pattern>/regInscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descArchivo</servlet-name>
        <url-pattern>/descArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaInscripciones</servlet-name>
        <url-pattern>/listaInscripciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarConvocatoria</servlet-name>
        <url-pattern>/insertarConvocatoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>convocatoriasCSV</servlet-name>
        <url-pattern>/convocatoriasCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>convocatoriasPDF</servlet-name>
        <url-pattern>/convocatoriasPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regUsuario</servlet-name>
        <url-pattern>/regUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
